/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$mulish: 'Mulish', sans-serif;
$work: 'Work Sans', sans-serif;
$btncolor: #4DB7FE;
$textcolor: #1A213D;
