@media (min-width: 1200px) {

    .navbar {
        z-index: 10;
        padding: 0 100px;

            .navbar-left {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .navbar-brand {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .collapse {
                    
                    .form-nav {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin: 0 40px;
                        
                        input {
                            background-color: rgba(255,255,255,0.25);
                            border-radius: 30px;
                            border: 1px solid rgba(35, 47, 85, .15);
                            width: 100%;
                            padding: 10px 20px 10px 50px;
                            font-size: 1.6em;
                            height: 50px;
                            width: 100%;
                            color: #fff;
                        }
                        
                        .form-control::placeholder {
                            color: #fff;
                        }

                        .form-nav-icon {
                            position: absolute;
                            top: 18px;
                            left: 25px;
                            i {
                                font-size: 1.5em;
                            }
                        }
                    }

                    .navbar-nav {
                        .nav-item {
                            margin: 0 10px;
                            .nav-link {
                                font-family: $work;
                                font-size: 1.6em;
                                padding: 28px 5px;
                                color: #fff;
                                font-weight: bold;
                                transition: color .5s;
                            }

                            .nav-link:hover {
                                color: $btncolor;
                            }
                        }
                    }
                }
            }
            
            .navbar-right {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-family: $work;
                margin-right: 0px;

                .sign-in {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.6em;
                    margin-right: 30px;
                    transition: color .5s;
                }

                .sign-in:hover {
                    color: $btncolor;
                }

                .btn {
                    background: #4DB7FE;
                    font-family: "Work Sans",sans-serif;
                    text-transform: inherit;
                    color: #fff;
                    padding: 25px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 30px;
                    line-height: 1;
                    line-height: 0;
                    cursor: pointer;
                    transition: color 0.4s linear;
                    position: relative;
                    border: 0;
                }
                
                .btn::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 102%;
                    height: 102%;
                    background: #1A213D;
                    z-index: 1;
                    border-radius: 0px;
                    transition: transform 0.5s;
                    transition-timing-function: ease;
                    transform-origin: 0 0;
                    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    transform: scaleX(0);
                    border-radius: 0px
                }
                
                .btn i {
                    padding-right: 11px
                }
                
                .btn:hover {
                    color: #fff;
                }
                
                .btn:hover::before {
                    transform: scaleX(1);
                    z-index: -1
            }
        }
    }

    .main {

        &__testimonitals {
            background-color: #fff;
        
            &__content {
                margin: 90px 0 70px;
        
                &__video {
                    .video-bg-img {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        img {
                            height: 100%;
                            width: 100%;
                        }
        
                        .video-play {
                            position: absolute;
                            border: 37px solid rgba(255,255,255, .2);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 128px;
                            height: 128px;
                            border-radius: 50%;
                        }
                    }
                }
        
                &__right {
                    &__single-slide {
                    padding: 0 0 0 80px;
                    &--head {
                        font-size: 3em;
                        font-family: $work;
                        color: #000;
                        margin: 20px 0;
                        font-weight: bold;
                    }
        
                    &--text {
                        border-radius: 5px;
                        font-family: $mulish;
                        padding: 30px 100px 30px 40px;
                        margin-bottom: 32px;
                        font-size: 2em;
                        position: relative;
                        color: #1A213D;
                        background-color: #F1F6F9;
                    }
        
                    &--text::before {
                        position: absolute;
                        height: 35px;
                        width: 35px;
                        background-color: #F1F6F9;
                        content: '';
                        left: 23px;
                        bottom: -8px;
                        transform: rotate(45deg);
                    }
        
                    &__person {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: start;
                        
                        &__img {
                            img {
                                width: 69px;
                                height: 69px;
                            }
                        }
        
                        &__text {
                            margin-left: 20px;
                            &--name {
                                font-size: 2em;
                                font-family: $work;
                                color:#1A213D;
                                font-weight: bold;
                            }
        
                            &--text {
                                font-size: 1.6em;
                                font-family: $mulish;
                                color: #68696E;
                            }
                        }
                    }
                }
              }
            }
        }

    }

    .listing-section {
        background-color: #fff;
    
        &__content {
            padding: 50px 0;
    
            &__filter {
                margin-bottom: 30px;
                &--heading {
                    font-size: 2.4em;
                    font-family: $work;
                    color: #1A213D;
                    margin-bottom: 20px;
                    font-weight: bold;
                }
    
                &__category {
                    border: 1px solid #ededed;
                    padding: 30px 20px 30px 30px;
                    color: #1A213D;
    
                    .form-select {
                        width: 100%;
                        border-radius: 5px;
                        padding: 11px 20px 11px 18px;
                        border: 1px solid #ededed;
                        margin-bottom: 20px;
                        font-size: 1.4em;
                        cursor: pointer;
    
                        .selected-option::after {
                            border-bottom: 1px solid #a9b6cd;
                            border-right: 1px solid #a9b6cd;
                            height: 12px;
                            width: 12px;
                            margin-top: -9px;
                            right: 29px;
                        }
                    }
    
                    .checkbox-box {
                        margin-bottom: 30px;
                        .option-title {
                            color: #1A213D;
                            font-size: 1.4em;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }
    
                        .form-check {
                            padding: 0;
                            margin-left: 30px;
    
                            label,
                            input {
                                color: #666;
                                font-size: 1.6em;
                                cursor: pointer;
                                margin-bottom: 10px;
                            }
    
                            input {
                                font-size: 2em;
                            }
                        }
                    }
    
                }
            }
    
            &__posts {
                margin-top: 0px;
                &--heading {
                    font-size: 2.4em;
                    font-family: $work;
                    color: #1A213D;
                    margin-bottom: 20px;
                    font-weight: bold;
                    padding-left: 15px;
                }
            }
        }
    
    }

}